.contenedor {
  width: 100%;
  height: 87%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  cursor: pointer;
}

.hijo {
  width: 100%;
  height: 101%;
  color: #fff;
  font-size: 20px;
  text-align: center;
  border-radius: 15px;
}

.contenedor2 {
  width: 97%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.yearColor {
  width: 97%;
  height: 5%;
  color: #fff;
  font-size: 20px;
  margin-left: 10px;
  text-align: left;
  border-radius: 20px;
  flex: 1 1 auto;
}

.Colorcopiado {
  width: 100%;
  height: 90%;
  color: #fff;
  margin-left: 30px;
  font-size: 50px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pantoneValue {
  width: 100%;
  height: 5%;
  color: #fff;
  font-size: 20px;
  border-radius: 20px;
  text-align: right;
  flex: 1 1 auto;
  align-self: flex-end;
}
